<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Airline</title>
	        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="../assets/css/create-profile.css">
	</head>
<body>

<h3>Update {{airline.name}}'s Attributes:</h3>
<form id="update-airline" action="/airline" method="post">
    Airline Name: <input type="text" name="name" value="{{airline.name}}"><br>
    Phone Number: <input type="text" name="phone_number" value="{{airline.phone_number}}"><br>
</form>
<button onclick="updateAirline({{airline.id}});">Update</button>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/js/app.js"></script>
                <script src="../assets/js/create-profile.js"></script>
        </body>


</html>
